BRUTE = FALSE
SIZE = 6
GAMEBOARD_BEGIN
    0 0 0 0 5 5
    0 0 0 0 0 0
    1 1 0 0 0 2
    0 0 0 0 0 2
    0 0 4 3 3 3
    0 0 4 0 0 0
GAMEBOARD_END

ANT_SETTINGS_BEGIN
    ANT_QUANTITY = 150
    TRIALS = 60
    DEFAULT_INITIAL_PHEROMONE = 0.1
    DEFAULT_INITIAL_TIMESTAMP = 0
    DECAY_FACTOR = 0.999
    PHEROMONE_FOR_ANT = 1
    TODO = ...
ANT_SETTINGS_END
